# Игнорирование виртуального окружения
venv/

# Игнорирование файлов локальной БД
*.db

# Игнорирование логов
*.log

# Игнорирование кэшированных файлов
__pycache__/
*.pyc

# Игнорирование .env файла с локальными настройками
.env
